target/
*.log
dependency-reduced-pom.xml
.classpath
.project
.settings/
blockchain/keys/
!blockchain/states/block0.json
blockchain/states/block*.json
.vscode/

# Latex
*.aux
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb